<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Movies4You</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <link href="{{url_for('static',filename='assets/img/logo.jpg')}}" rel="icon">
 

  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  
  <link href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!--Main CSS File-->
  <link href="{{url_for('static',filename='assets/css/main.css')}}" rel="stylesheet">

</head>
<body>

  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        
        <h1>Movies4You<span>.</span></h1>
      </a>
    </div>
  </header>
  
    
<!-- Book A show Section -->
<section id="booking" class="booking">
<div class="container" data-aos="fade-up">

<div class="section-header">
  <h1>                                                                               


  </h1>
  <h2>Book A Show</h2>
  <p>Book <span>Your Show</span> With Us</p>
</div>


<div class="row g-0">

  <div class="col-lg-4 reservation-img" style="background-image: url(static/assets/img/seatbook.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>

  <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
    <form action="/booking" method="post" role="form" class="email-form" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6">
          <input type="text" name="name" class="form-control" id="name" required placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>
        <div class="col-lg-4 col-md-6">
          <input type="email" class="form-control" name="email" id="email" required placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
          <div class="validate"></div>
        </div>
        <div class="col-lg-4 col-md-6">
          <input type="text" class="form-control" name="phone" id="phone" required placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>
        <div class="col-lg-4 col-md-6">
          <select class="form-control" name="date" id="date" required data-rule="minlen:4" data-msg="Please select a date">
            <option value="">Select a date</option>
            <option value="25 Mar">25 Mar</option>
            <option value="26 Mar">26 Mar</option>
            <option value="27 Mar">27 Mar</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-lg-4 col-md-6">
          <select class="form-control" name="time" id="time" required data-rule="minlen:4" data-msg="Please select a time">
            <option value="">Select a time</option>
            <option value="10:00 AM">10:00 AM</option>
            <option value="2:00 PM">2:00 PM</option>
            <option value="6:00 PM">6:00 PM</option>
          </select>
          <div class="validate"></div>
        </div>
        
        <div class="col-lg-4 col-md-6">
          <input type="number" class="form-control" name="no_of_tickets" id="no_of_tickets" required placeholder="# of people" min="1" max="10">
          
        </div>
        
      </div>
      <div class="form-group mt-3">
        <div class="movie-container">
          <div class="col-lg-4 col-md-6">
           
            <label style="font-family: 'Times New Roman', Times, serif; font-size: 24px; color: #333; text-shadow: 2px 2px 4px #000000;text-transform: uppercase; letter-spacing: 2px;"> Select a movie:</label>

          <select class="form-control" name="movie" id="movie" required >
  
    <option value="0">Select</option>
    <option value="Tu Jhoothi Main Makkaar">Tu Jhoothi Main Makkaar (RS.220)</option>
    <option value="Pathaan">Pathaan (RS.320)</option>
    <option value="John Wick: Chapter 4">John Wick: Chapter 4 (RS.250)</option>
    <option value="Shazam! Fury of the Gods">Shazam! Fury of the Gods (RS.260)</option>
  </select>
  <div class="validate"></div>
         
</div>
      </div>
      
      
      <div class="text-center" ><a href="seatbook"><button type="button" class="text-center" style="background-color: #4CAF50; color: white; border-radius: 8px; padding: 10px 20px; border: none; font-size: 16px; box-shadow: 2px 2px 5px rgba(0,0,0,0.2);">Next</button></a></div>

    </form>
  </div>

</div>

</div>
</section>


</body>
<footer id="footer" class="footer">

  <div class="container mx-auto">
    <div class="col-lg-3 col-md-6 footer-links mx-auto">
        <h4>Follow Us:-</h4>
        <div class="social-links d-flex">
          <a href="#" class="twitter "><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook " ><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram "><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin "><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
  </div>

   <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Movies4You</span></strong>. All Rights Reserved
    </div>
   </div>
</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!--Vendor JS Files-->
<script src="{{url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>
<script src="{{url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
<script src="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>

<!--Template Main JS File-->
<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>